__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
.venv/
.env/

.ipynb_checkpoints

.pytest_cache/

*.log
local_settings.py
db.sqlite3
media/
staticfiles/

.vscode/

.DS_Store

.mypy_cache/

.pyre/

.pytype/

htmlcov/
.coverage
.coverage.*

.python-version

Pipfile.lock

poetry.lock

build/
dist/
*.egg-info/


celerybeat-schedule.*

*.db

*.pid

.env